<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="logs\internal_logs\internallog.txt">

  <extensions>
    <add assembly="NLog.Mongo"/>
  </extensions>

  <targets>
    <target name="mongoInfo" xsi:type="Mongo" databaseName="coffee" collectionName="InfoLogs" connectionString="mongodb+srv://CoffeeUser:Test1234@devconnector-wmiuj.mongodb.net/coffee" />
    <target name="mongoError" xsi:type="Mongo" databaseName="coffee" collectionName="ErrorLogs" connectionString="mongodb+srv://CoffeeUser:Test1234@devconnector-wmiuj.mongodb.net/coffee" />
  </targets>

  <rules>
    <logger name="*" level="Error" writeTo="mongoError" />
    <logger name="*" level="Info" writeTo="mongoInfo" />
  </rules>
</nlog>